{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Preview : MovieCinema</title>
    <!-- Link To CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- fav Icon-->
    <link rel="fav icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <!--Box icon-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!--   Header    -->
    <header>
        <div class="nav container">
            <a href="{% url 'home' %}" class="logo">
                Movie<span>Cinema</span>
            </a>
            <a href="{% url 'user' %}" class="page-link" style="margin-left:auto;">
                <i class='bx bx-plus'></i> Add Movie
            </a>
        </div>
    </header>

    <main class="page">
        <h1 class="page-title">Movie <span>Preview</span></h1>
        <p class="page-subtitle">All movies currently in the catalogue</p>

        <div class="result-grid">
            {% for i in key1 %}
            <article class="result-card">
                <img src="{{ i.image }}" alt="{{ i.Title }}">
                <div class="result-body">
                    <h3>{{ i.Title }}</h3>
                    <p>{{ i.description }}</p>
                </div>
            </article>
            {% empty %}
            <p class="empty-state">No movies added yet.</p>
            {% endfor %}
        </div>
    </main>

    <div class="copyright">
        <p>&#169; MovieCinema All Right Reserved</p>
    </div>
</body>

</html>
